
<template name="altaContrato">
    {{> homeContratos}} 
   {{#autoForm collection="Contratos" id="altaContrato" type="insert"}}
    <fieldset>
        <legend>Agregar un contrato:</legend>

        {{> afQuickField name='propiedad' options=propiedadesOptions}} 
        {{> afQuickField name='inquilino' options=inquilinoOptions}}
        {{> afQuickField name='garante' options=garanteOptions}}
         {{> afQuickField name='inicioContrato'}} 
         {{> afQuickField name='finContrato'}}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='costoAlquiler'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='comisionInmobiliaria'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">%</span> {{> afQuickField name='comisionAdministrativa'}}
                <span class="input-group-addon">Porcentaje</span>
            </div>
        </div>
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='sellado'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
           <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='multaSellado'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
           <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='pagare'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
        
          <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='impPagare'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
           <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span> {{> afQuickField name='depositoGarantia'}}
                <span class="input-group-addon">Pesos Argentinos</span>
            </div>
        </div>
          {{> afQuickField name='tipoDeMora'}}
            {{#if tipoDeMoraF}}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">%</span> {{> afQuickField name='moraPorcentaje'}}
                    <span class="input-group-addon">Porcentaje</span>
                </div>
            </div>
            {{else}}
             <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">%</span> {{> afQuickField name='moraFijo'}}
                    <span class="input-group-addon">Porcentaje</span>
                </div>
            </div>
            {{/if}}

        
        
    </fieldset>
    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="reset" class="btn btn-default">Limpiar</button> {{/autoForm}}
</template>

<template name="actualizarContrato">
    {{> homeContratos}} {{> quickForm collection="Contratos" doc=this id="actualizarContrato" type="update"}}
</template>

<template name="contratos">
    {{> homeContratos}}

    <div class="container">
        <div class="page-header">
            <h1>Contratos <small> vista de los contratos</small></h1>
        </div>

        <div class="row">
            <h4>Cuadro de búsqueda:</h4>
            {{> EasySearch.Input index=contratos}}
            <a class="btn btn-default" href="{{ pathFor 'altaContrato' }}">añadir nuevo contrato</a>
        </div>



        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading">Lista de contratos</div>
            <table class="table table-hover">
                <tr>
                    <td><strong> Propiedad </strong></td>
                    <td> <strong>Inquilino </strong></td>
                    <td> <strong>Garante </strong></td>
                    <td> <strong>costo del Alquiler</strong></td>
                    <td> <strong>Botones de operaciones</strong></td>
                </tr>

                {{#EasySearch.Each index=contratos}}


                <tr>
                    <td>{{propiedad}}</td>
                    <td>{{inquilino}}</td>
                    <td>{{garante}}</td>
                    <td>${{costoAlquiler}}</td>
                    <span class="right">
                        <a href="#" class="remove">
                            <i class="material-icons">Eliminar </i>
                        </a>
                        <a href="{{ pathFor 'contratosDetalle' _id=_id}}" class="secondary-content">
                            <i class="material-icons">Detalle </i>
                        </a>
                         <a href="{{ pathFor 'actualizarContrato' _id=_id}}" class="secondary-content">
                            <i class="material-icons">Actualizar </i>
                        </a>
                         <a href="#" class="pdf">
                            <i class="material-icons">PDF</i>
                        </a>
                    </span>
                </tr>
                {{/EasySearch.Each}}
            </table>
            {{#EasySearch.IfNoResults index=contratos}}
            <div class="alert alert-danger" role="alert">
                <strong>No hay resultados para mostrar!</strong> Cambia las palabras de búsqueda.
            </div>
            {{/EasySearch.IfNoResults}}
        </div>

        {{> EasySearch.Pagination index=contratos}}



    </div>
</template>

<template name="contratosDetalle">
    {{> homeContratos}}
    <div class="container">
        <div class="row">
            <h3>Cuit del Propietario: {{propietario}}</h3>
            <h4>Nombre: {{datosPropietario.apellido}} </h4>
            <h4>Apellido: {{datosPropietario.nombre}} </h4>
           
                <hr size="10" />
            <h3>Cuit del Inquilino: {{inquilino}} </h3>
            <h4>Apellido: {{datosInquilino.apellido}} </h4>
            <h4>Nombre: {{datosInquilino.nombre}} </h4>
            <hr size="10" />


            <h3>Cuit del garante: {{garante}} </h3>
            <h4>Apellido: {{datosGarante.apellido}} </h4>
            <h4>Nombre: {{datosGarante.nombre}} </h4>
            <hr size="10" />

            <h3>Código de la Propiedad: {{propiedad}} </h3>
            <h4> Algunos otros datos de la propiedad </h4>

             <hr size="10" />
             <h2> Contrato: </h2>
            <h3>Costo del alquiler mensual: ${{costoAlquiler}}</h3>
            <h3>Inicio de contrato: {{formatDate inicioContrato}} </h3>
            <h3>Fin de contrato: {{formatDate finContrato}} </h3>
               <hr size="10" />
            <h3>Comision inmobiliaria: ${{comisionInmobiliaria}} </h3>
            <h3>Comision Administrativa: %{{comisionAdministrativa}} </h3>
            <h3>Pago del propietario: ${{comisionAdministrativaP}} </h3>
            <h3>Sellado: ${{sellado}} </h3>
            <h3>Sellado inquilino: ${{selladoI}} </h3>
            <h3>Sellado propietario: ${{selladoP}} </h3>
            <h3>Impuesto del pagaré: ${{impPagare}} </h3>
            <h3>Total del pagaré: ${{pagare}} </h3>
            <h3>Total de meses del contrato: {{duracionMeses}} meses </h3>
            
           
              <hr size="20" />
            <h3><strong> Total de contrato: ${{contratoTotal}} </strong></h3>

            <h2 align="center">Cupones de pago</h2>
            {{#if cupones}}
                 <table class="table table-hover">
                <tr>

                    <td> <strong>Periodo</strong></td>
                    <td> <strong>Importe</strong></td>
                    <td> <strong>Vencimiento </strong></td>
                    <td> <strong>Fecha pago </strong></td>
                    <td> <strong>¿Pagado?</strong></td>
                </tr>
        
            {{#each cupon in cupones}}
                <tr>

                    <td>{{cupon.periodo}}</td>
                    <td>{{cupon.importe}}</td>
                    <td>{{formatDate cupon.fechaVencimiento}}</td>
                    
                    {{#if cupon.pagado}}
                        <td>{{formatDate cupon.fechaPago}}</td>
                         <span class="right">
                            <button type="button" class="btn btn-info pagado">Pagado</button>
                        </span>
                       
                    {{else}}
                        <td>Falta abonar</td>
                         <span class="right">
                            <button type="button" class="btn btn-danger pagar" name={{cupon._id}}>Pagar</button>
                        </span>
                    {{/if}}
                   


                    
                </tr>
                <hr>
            {{/each}}
                 </table>
            {{/if}}
          

            <a href="{{ pathFor 'contratos'}}" class="btn btn-default">Volver </a>
        </div>
    </div>
</template>